<!DOCTYPE html>
<html class="js">
<style media="screen" type="text/css">
	.center{text-align:center}
</style>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<link href="assets/application.css" media="all" rel="stylesheet" type="text/css">
	<title>Cloud 66 | Demo
	</title>
	<link rel="shortcut icon" href="assets/favicon.ico">
</head>
<header class="dialog-header">
	<img alt="Cloud 66" width="100" height="100" src="assets/logo.svg">
</header>
<section class="dialog">
	<h1 class="dialog-title">
		Adding jobs
	</h1>
	<div class="center">
		<div class="dialog-inner">
			<br>
			<img src="assets/spinner.gif">
			<br><br>
		</div>
	</div>
</section>
</body>
</html>